<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Awesome.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1526},{335,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{335,42}}</string>
                <key>sourceSize</key>
                <string>{337,42}</string>
            </dict>
            <key>Background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>Bird_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,1788},{160,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,115}}</string>
                <key>sourceSize</key>
                <string>{160,115}</string>
            </dict>
            <key>Bird_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,1671},{160,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,115}}</string>
                <key>sourceSize</key>
                <string>{160,115}</string>
            </dict>
            <key>Cool.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,642},{184,49}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{184,49}}</string>
                <key>sourceSize</key>
                <string>{196,49}</string>
            </dict>
            <key>EffectOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,329},{106,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,89}}</string>
                <key>sourceSize</key>
                <string>{106,89}</string>
            </dict>
            <key>EffectOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,221},{106,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,89}}</string>
                <key>sourceSize</key>
                <string>{106,89}</string>
            </dict>
            <key>Line.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,437},{11,1136}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{11,1136}}</string>
                <key>sourceSize</key>
                <string>{17,1136}</string>
            </dict>
            <key>MoonCry.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,1520},{149,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,219}}</string>
                <key>sourceSize</key>
                <string>{149,219}</string>
            </dict>
            <key>MoonLaugh.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,1369},{149,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,219}}</string>
                <key>sourceSize</key>
                <string>{149,219}</string>
            </dict>
            <key>MoonScream.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,1218},{149,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,219}}</string>
                <key>sourceSize</key>
                <string>{149,219}</string>
            </dict>
            <key>MusicOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,130},{96,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,89}}</string>
                <key>sourceSize</key>
                <string>{96,89}</string>
            </dict>
            <key>MusicOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,437},{88,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,84}}</string>
                <key>sourceSize</key>
                <string>{88,84}</string>
            </dict>
            <key>Nice.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1526},{164,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{164,42}}</string>
                <key>sourceSize</key>
                <string>{174,42}</string>
            </dict>
            <key>NotBad.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2005},{311,39}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{311,39}}</string>
                <key>sourceSize</key>
                <string>{315,39}</string>
            </dict>
            <key>Perfect.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1961},{294,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{294,42}}</string>
                <key>sourceSize</key>
                <string>{302,42}</string>
            </dict>
            <key>Pity.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,828},{388,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{388,48}}</string>
                <key>sourceSize</key>
                <string>{400,48}</string>
            </dict>
            <key>PlayButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,523},{85,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,81}}</string>
                <key>sourceSize</key>
                <string>{85,81}</string>
            </dict>
            <key>ReplayButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{93,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,101}}</string>
                <key>sourceSize</key>
                <string>{93,101}</string>
            </dict>
            <key>ShareButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,1905},{108,108}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{108,108}}</string>
                <key>sourceSize</key>
                <string>{116,126}</string>
            </dict>
            <key>StartButton_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{384,505}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,505}}</string>
                <key>sourceSize</key>
                <string>{384,505}</string>
            </dict>
            <key>StartButton_onClick.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1575},{384,505}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,505}}</string>
                <key>sourceSize</key>
                <string>{384,505}</string>
            </dict>
            <key>StopButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,606},{34,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,52}}</string>
                <key>sourceSize</key>
                <string>{34,52}</string>
            </dict>
            <key>Worm.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,97},{31,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,98}}</string>
                <key>sourceSize</key>
                <string>{31,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WormHeroSaga.png</string>
            <key>size</key>
            <string>{747,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:796ad4b6761444c0016db674d1001d5b:1/1$</string>
            <key>textureFileName</key>
            <string>WormHeroSaga.png</string>
        </dict>
    </dict>
</plist>
